{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <div class="content">
            <h4>헌터 등록하기</h4>
            <hr>
            <form action="{% url 'hunterapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table style="margin: 0 auto;">
                    {{form.as_table}}
                </table>
                <button type="submit" class="material-icons">add</button>
                <button type="button" class="material-icons">cancel</button>
            </form>
        </div>
    </div>

{% endblock %}