{% extends 'base.html' %}

{% block content %}
<div class="center">
    <h2>{{ target_request.title }}</h2>
    <a href="#">{{ target_request.writer }}</a> | {{ target_request.created_at }}

    <div class="flex_box">
        <div>
            <span class="info">위치 | {{ target_request.location }}</span>
            <span class="info">가격 | {{ target_request.start_price }} - {{ target_request.end_price }} 원</span>
        </div>
        <div class="menu">
            <div class="info"><a href="{% url 'requestapp:update' pk=target_request.pk %}">수정 </a><a href="{% url 'requestapp:delete' pk=target_request.pk %}"> 삭제 </a></div>
        </div>
    </div>

    <hr>

    <div class="content">{{ target_request.content }}</div>
    <img src="{{ target_request.img.url }}" alt="{{ target_request.title }}" style="width: 80%; border-radius: 1rem; margin: 2rem 0;">
    <div class="content">
        <a href="#" class="button">의뢰 수락하기</a>
    </div>

</div>

{% endblock %}