* {
    color: #262626;
}

.center {
    text-align: center;
}

.logo{
    color: #84a84d;
}

.setting_logo{
    color: #d3d3d3;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}