<header class="header">
    <a href="{% url 'home' %}"><h1 class="logo"><span class="material-icons logo" style="font-size:4rem;">bug_report</span>Debug</h1></a>
    <div style="top: 40px; right: 80px; position: absolute;">
        {% if not user.is_authenticated %}
      <a href="{% url 'userapp:login' %}?next={{ request.path }}">
        <span>login</span>
      </a>
      <a href="{% url 'userapp:signup' %}">
        <span>SignUp</span>
      </a>
      {% else %}
        <span>MyPage</span>
      <a href="{% url 'userapp:logout' %}?next={{ request.path }}">
        <span>logout</span>
      </a>
      {% endif %}
    </div>
    <div style="top: 7px; right: 40px; position: absolute;">
    <a href="{% url 'settingapp:option' %}" style=""><h1 class="setting_logo"><span
            class="material-icons setting_logo">settings</span></h1></a>
    </div>

</header>
<hr>