{% extends 'base.html' %}

{% block content %}

    <div class="center">
        <div>
            <h4>도움 요청하기</h4>
            <hr>
            <form action="{% url 'requestapp:create' %}" method="post" enctype="multipart/form-data" class="form-inline">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <button type="submit" class="material-icons">add</button>
                <button type="button" class="material-icons">cancel</button>
            </form>
        </div>
    </div>

{% endblock %}