{% extends 'base.html' %}

{% block content %}

<div class="content center">
    {% if article_List %}
        <div class="container">
            {% for request in request_list %}
                <div class="box">
                    <a href="#">{{ request.title }}</a>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <span class="logo">🐛 어라... 조치원의 벌레가 멸종된 걸까요? &nbsp;🐛</span>
    {% endif %}
    <br>
    <a class="button add" href="{% url 'requestapp:create' %}">도움 요청하기</a>
</div>
{% endblock %}