{% block content %}

    <div class="center">
        <div>
            <h4>도움 글 수정하기</h4>
            <hr>
            <form action="{% url 'request:update' %}" method="post" class="form-inline">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <button type="submit" class="material-icons">add</button>
                <button type="button" class="material-icons">cancel</button>
            </form>
        </div>
    </div>

    <button type="button" class="material-icons button_add">add</button>

{% endblock %}